:host {
  /* Stellt sicher, dass die Angular-Komponente selbst den Platz einnimmt */
  display: block;
  height: 100vh;
  overflow: hidden; /* Verhindert Scrollen auf Komponentenebene */
}

.spcontainer {
  display: grid;
  grid-gap: 16px;
  grid-template-rows: 1fr 3fr;
  align-items: stretch;
  padding: 16px;
  box-sizing: border-box;
  height: 100%;
}

.spgriditem {
  display: flex;
  justify-content: flex-start;
  background-color: lightyellow;
  font-size: 3em;
  font-weight: bold;
  border-radius: 10px;
}

.sptable {
  width: auto;
  white-space: nowrap;
  border-collapse: collapse;
  font-family: Ringside Narrow,Cambria,Times,sans-serif;
  font-size: 14px;
}



.profil-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
  margin: 16px;
}

.profil-links {
  display: flex;
  flex-direction: column;
}

.foto-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bilder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fotos-alt {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.foto-aktuell {
  width: 60px;
  height: 90px;
  border-radius: 8px;
}

.table-cell-flex {
  display: flex;
  align-items: center;    /* Zentriert Bild und Text vertikal auf einer Linie */
  gap: 10px;              /* Erzeugt einen sauberen Abstand zwischen Bild und Text */
}

/* Optionale Formatierung für das Bild, damit es die Zelle nicht sprengt */
.cell-image {
  width: 70px;            /* Gewünschte Breite des Bildes */
  height: 100;           /* Gewünschte Höhe des Bildes */
  object-fit: cover;      /* Verhindert Verzerrungen */
}

.cell-text {
  font-size: 28px;
  font-weight: bold;
}

.foto-alt {
  width: 70px;
  height: auto;
  border-radius: 4px;
}

.info {
  margin-top: 16px;
  text-align: left;
  width: 100%;
}

.beschreibung {
  margin-top: 8px;
  font-style: italic;
}

.full-width-table {
  width: 100%;
}

.spielername {
  margin: 10px;
  padding: 20px;
  height: 50px;
  width: 600px;
  background-color: transparent;
  
  font-size: 3em;
  font-weight: bold;
  border-radius: 10px;
}

.mat-mdc-row {
  height: 16px;
}

body{
  font-family: Ringside Narrow,Cambria,Times,sans-serif;
}