<div class="spcontainer">
  <div class="spgriditem">
    <div class="table-cell-flex">
        <img src="{{spieler.photo01}}" alt="{{spieler.photo01}}" class="cell-image">
        <span style="width: 300px;" class="cell-text">{{spieler.vorname}} {{spieler.name}}</span>
    </div>
    <table class="sptable table table-sm table-striped table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th *ngFor="let h of headerPerf">{{h}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of performances; let i = index"
        (click)="selectPerformance(e)" [class.selected-row]="performance === e">
          <td>{{ e.saison }}</td>
          <td>{{ e.liga }}</td>
          <td>{{ e.spieleSpieler }}/ {{ e.spieleTeam }} ({{ e.spieleAnteil }} %)</td>
          <td>{{ e.spielminutenSpieler }}/ {{ e.spieleTeam *90 }} ({{ e.spielminutenAnteil }} %)</td>
          <td>{{ e.punkteSpieler }}/ {{ e.punkteTeam }} ({{ e.punkteAnteil }} %)</td>
        </tr>
      </tbody>
    </table>
    <div [hidden]="!sucheAnzeigen">
          <mat-form-field>
            <mat-label>Spieler suchen</mat-label>
            <input type="text" placeholder="Name eingeben" aria-label="Spieler" 
                  matInput [formControl]="myControl" [matAutocomplete]="auto">
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="spielerGewaehlt($event.option.value)">
            <mat-option *ngFor="let option of filteredPlayers | async" [value]="option">{{ option }}</mat-option>
          </mat-autocomplete>
    </div>
  </div>
  <div class="spgriditem">
    <mat-tab-group style="padding: 16px; height: 500px;" animationDuration="500ms" #tabGroup>
          <mat-tab label="Spiele">
            <div class="table-wrapper">
            <table mat-table [dataSource]="daten" class="mat-elevation-z2 full-width-table">
              <ng-container matColumnDef="spieltag">
                <th mat-header-cell *matHeaderCellDef> Spieltag </th>
                <td mat-cell *matCellDef="let element"> {{element.spiel}} </td>
              </ng-container>

              <ng-container matColumnDef="datum">
                <th mat-header-cell *matHeaderCellDef> Datum </th>
                <td mat-cell *matCellDef="let element"> {{element.ha}} {{element.datum}} </td>
              </ng-container>

              <ng-container matColumnDef="gegner">
                <th mat-header-cell *matHeaderCellDef> Gegner </th>
                <td mat-cell *matCellDef="let element"> {{element.gegner}} </td>
              </ng-container>

              <ng-container matColumnDef="ergebnis">
                <th mat-header-cell *matHeaderCellDef> Ergebnis </th>
                <td mat-cell *matCellDef="let element"> {{element.ergebnis}} </td>
              </ng-container>

              <ng-container matColumnDef="einsatzzeit">
                <th mat-header-cell *matHeaderCellDef> Einsatzzeit </th>
                <td mat-cell *matCellDef="let element"> {{element.einsatz}} </td>
              </ng-container>

              <ng-container matColumnDef="spielminuten">
                <th mat-header-cell *matHeaderCellDef> Spielminuten </th>
                <td mat-cell *matCellDef="let element"> {{element.spielminuten}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let element; columns: displayedColumns;" [ngClass]="{
                'row-green': element.punkte === 3,
                'row-yellow': element.punkte === 1,
                'row-red': element.punkte === 0
                }"></tr>
            </table>
            </div>
          </mat-tab>
          <mat-tab label="Fotos">
            <div class="bilder">
              <app-image-carousel></app-image-carousel>
              <!-- [images]="fotos"
              <img *ngFor="let foto of fotos" [src]="foto" alt="{{foto}}" class="foto">
              -->
            </div>
          </mat-tab>        
        </mat-tab-group>
  </div>
</div>

<!--
<div>
  <table>
    <tr>
      <div [hidden]="!sucheAnzeigen">
        <td>
          <mat-form-field>
            <mat-label>Spieler suchen</mat-label>
            <input type="text" placeholder="Name eingeben" aria-label="Spieler" 
                  matInput [formControl]="myControl" [matAutocomplete]="auto">
          </mat-form-field>
        </td>
      </div>
      <td class="table-cell-flex">
        <img src="{{spieler.photo01}}" alt="{{spieler.photo01}}" class="cell-image">
        <span class="cell-text">{{spieler.vorname}} {{spieler.name}}</span>
      </td>
      <br/>
      <td style="height: 150px;">
          <table class="table table-sm table-striped table-bordered table-hover">
            <thead class="table-dark">
              <tr>
                <th *ngFor="let h of headerPerf">{{h}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of performances; let i = index"
              (click)="selectPerformance(e)" [class.selected-row]="performance === e">
                <td>{{ e.saison }}</td>
                <td>{{ e.liga }}</td>
                <td>{{ e.spieleSpieler }}/ {{ e.spieleTeam }} ({{ e.spieleAnteil }} %)</td>
                <td>{{ e.spielminutenSpieler }}/ {{ e.spieleTeam *90 }} ({{ e.spielminutenAnteil }} %)</td>
                <td>{{ e.punkteSpieler }}/ {{ e.punkteTeam }} ({{ e.punkteAnteil }} %)</td>
              </tr>
            </tbody>
          </table>
      </td>
    </tr>
  </table>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="spielerGewaehlt($event.option.value)">
    <mat-option *ngFor="let option of filteredPlayers | async" [value]="option">{{ option }}</mat-option>
  </mat-autocomplete>
</div>
<div class="profil-container">
  <div class="profil-links">

  </div>

  <div class="profil-rechts" style="overflow-y: auto;">
    <mat-card>
      <mat-card-content style="height:70vh">
        <mat-tab-group animationDuration="500ms" #tabGroup>
          <mat-tab label="Spiele">
            <table mat-table [dataSource]="daten" class="mat-elevation-z2 full-width-table">
              <ng-container matColumnDef="spieltag">
                <th mat-header-cell *matHeaderCellDef> Spieltag </th>
                <td mat-cell *matCellDef="let element"> {{element.spiel}} </td>
              </ng-container>

              <ng-container matColumnDef="datum">
                <th mat-header-cell *matHeaderCellDef> Datum </th>
                <td mat-cell *matCellDef="let element"> {{element.ha}} {{element.datum}} </td>
              </ng-container>

              <ng-container matColumnDef="gegner">
                <th mat-header-cell *matHeaderCellDef> Gegner </th>
                <td mat-cell *matCellDef="let element"> {{element.gegner}} </td>
              </ng-container>

              <ng-container matColumnDef="ergebnis">
                <th mat-header-cell *matHeaderCellDef> Ergebnis </th>
                <td mat-cell *matCellDef="let element"> {{element.ergebnis}} </td>
              </ng-container>

              <ng-container matColumnDef="einsatzzeit">
                <th mat-header-cell *matHeaderCellDef> Einsatzzeit </th>
                <td mat-cell *matCellDef="let element"> {{element.einsatz}} </td>
              </ng-container>

              <ng-container matColumnDef="spielminuten">
                <th mat-header-cell *matHeaderCellDef> Spielminuten </th>
                <td mat-cell *matCellDef="let element"> {{element.spielminuten}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let element; columns: displayedColumns;" [ngClass]="{
                'row-green': element.punkte === 3,
                'row-yellow': element.punkte === 1,
                'row-red': element.punkte === 0
                }"></tr>
            </table>
          </mat-tab>
          <mat-tab label="Fotos">
            <div class="bilder">
              <img *ngFor="let foto of fotos" [src]="foto" alt="{{foto}}" class="foto">
            </div>
          </mat-tab>        
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
-->
