<div>
  <table>
    <tr>
      <td>
        <app-saison-selector (saisonGewaehlt)="handleSaisonAuswahl($event)"></app-saison-selector>
      </td>
      <td>  
        <mat-form-field>
          <mat-label>Spieler suchen</mat-label>
          <input type="text"
                placeholder="Name eingeben"
                aria-label="Spieler"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto">
        </mat-form-field>
      </td>
      <td>
        <div class="info">
          <span class="spielername">{{spieler.vorname}} {{spieler.name}}</span>
        </div>
      </td>
    </tr>
  </table>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="spielerGewaehlt($event.option.value)">
    <mat-option *ngFor="let option of filteredPlayers | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</div>
<div class="profil-container">
  <!-- Linkes Drittel -->
  <div class="profil-links">
    <mat-card class="foto-card">
      <div class="bilder">
        <img src="{{spieler.photo01}}" alt="{{spieler.photo01}}" class="foto-aktuell">
        <!--
          <div class="fotos-alt">
            <img src="assets/spieler-alt1.jpg" alt="Altes Foto 1" class="foto-alt">
            <img src="assets/spieler-alt2.jpg" alt="Altes Foto 2" class="foto-alt">
          </div>
        -->
      </div>
    </mat-card>
  </div>

  <!-- Rechtes Zweidrittel -->
  <div class="profil-rechts" style="overflow-y: auto;">
    

    <mat-card>

      <mat-card-title>Spieleinsätze</mat-card-title>
      <mat-card-content style="overflow-y: scroll;">
        <table mat-table [dataSource]="daten" class="mat-elevation-z2 full-width-table">

          <ng-container matColumnDef="spieltag">
            <th mat-header-cell *matHeaderCellDef> Spieltag </th>
            <td mat-cell *matCellDef="let element"> {{element.spiel}} </td>
          </ng-container>

          <ng-container matColumnDef="einsatzzeit">
            <th mat-header-cell *matHeaderCellDef> Einsatzzeit </th>
            <td mat-cell *matCellDef="let element"> {{element.einsatz}} </td>
          </ng-container>

          <ng-container matColumnDef="spielminuten">
            <th mat-header-cell *matHeaderCellDef> Spielminuten </th>
            <td mat-cell *matCellDef="let element"> {{element.spielminuten}} </td>
          </ng-container>

          <ng-container matColumnDef="datum">
            <th mat-header-cell *matHeaderCellDef> Datum </th>
            <td mat-cell *matCellDef="let element"> {{element.ha}} {{element.datum}} </td>
          </ng-container>

          <ng-container matColumnDef="ergebnis">
            <th mat-header-cell *matHeaderCellDef> Ergebnis </th>
            <td mat-cell *matCellDef="let element"> {{element.ergebnis}} </td>
          </ng-container>

          <ng-container matColumnDef="gegner">
            <th mat-header-cell *matHeaderCellDef> Gegner </th>
            <td mat-cell *matCellDef="let element"> {{element.gegner}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;" [ngClass]="{
             'row-green': element.punkte === 3,
             'row-yellow': element.punkte === 1,
             'row-red': element.punkte === 0
            }"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
