.profil-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
  margin: 16px;
}

.profil-links {
  display: flex;
  flex-direction: column;
}

.foto-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bilder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fotos-alt {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.foto-aktuell {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.foto-alt {
  width: 70px;
  height: auto;
  border-radius: 4px;
}

.info {
  margin-top: 16px;
  text-align: left;
  width: 100%;
}

.beschreibung {
  margin-top: 8px;
  font-style: italic;
}

.full-width-table {
  width: 100%;
}


.spielername {
  margin: 50px;
  padding: 20px;
  background-color: #d0f0c0;
  font-size: 4.5em;
  font-weight: bold;
  border-radius: 10px;
}