<div class="overall-wrapper">
  <div class="match-container">

    <div class="d-flex align-items-center mb-3">
      <button class="btn btn-primary mb-3" (click)="menu()">Zurück</button>
      <button class="btn btn-primary mb-3" (click)="spieltagWechseln(-1)">-1</button>
      <button class="btn btn-primary mb-3" (click)="spieltagWechseln(+1)">+1</button>
      <h2>Saison {{ saison }} Spieltag {{ spiel }}</h2>
    </div>

    <div class="score-header">
      <div class="team-info home-team">
        <img [src]="logoHeim" alt="{{ nameHeim }} Logo" class="team-logo">
        <h3>{{ nameHeim }}</h3>
      </div>

      <div class="score-box">
        <span class="score-number">{{ toreHeim }}</span>
        <span class="score-separator">:</span>
        <span class="score-number">{{ toreGast }}</span>
      </div>

      <div class="team-info away-team">
        <img [src]="logoGast" alt="Bild {{logoGast}} für {{ nameGast }} nicht gefunden" class="team-logo">
        <h3>{{ nameGast }}</h3>
      </div>

    </div>

    <hr>
    <div class="squad-details">
      
      <div class="squad-section">
        <app-table-of-players [playerstable]="startelf" typ="startelf" titel="🟢 Startelf"></app-table-of-players>
      </div>

      <div class="squad-section">
        <app-table-of-players [playerstable]="bank" typ="bank" titel="🔄 Bank"></app-table-of-players>
        <app-table-of-players [playerstable]="kader" typ="kader"></app-table-of-players>
      </div>
      <div class="squad-section">
        <app-table-of-goals [titel]="'⚽ Spielverlauf'" [goals]="toreReihenfolge" [nameGegner]="nameGegner"></app-table-of-goals>
      </div>
    </div>
  </div>
  <div class="rechts">
    <div>
      <img [src]="'http://localhost:8080/api/files/download?filePath=' + evbaelleFile.path" 
        [alt]="evbaelleFile.name" *ngIf="evbaelleFile.type === 'png'" width="160px" height="400px">
    </div>
    <app-table-of-docs [titel]="'Dokumente'" [docs]="dokumente"></app-table-of-docs>
    <app-table-of-docs [titel]="'Fotos'" [docs]="fotos"></app-table-of-docs>
  </div>

</div>
