<div *ngIf="matchData" class="match-container">

  <div class="score-header">
    <div class="team-info home-team">
      <img [src]="logoWir" alt="{{ nameWir }} Logo" class="team-logo">
      <h3>{{ nameWir }}</h3>
    </div>

    <div class="score-box">
      <span class="score-number">{{ toreWir }}</span>
      <span class="score-separator">:</span>
      <span class="score-number">{{ toreGegner }}</span>
    </div>

    <div class="team-info away-team">
      <h3>{{ nameGegner }}</h3>
      <img [src]="logoGegner" alt="{{ nameGegner }} Logo" class="team-logo">
    </div>
  </div>

  <hr>
  
  <h2>⚽ Spielverlauf (Tore)</h2>
  <ul class="goal-list">
    {{ toreStrWir }} - {{ toreStrGegner }}
    <li *ngFor="let goal of matchData.tore">
      <strong>{{ goal.minute }}'</strong> 
      {{ goal.nachname }} ({{ goal.team === 'W' ? matchData.nameWir.name : matchData.nameGegner.name }})
    </li>
  </ul>

  <hr>

  <div class="squad-details">
    
    <div class="squad-section">
      <h3>🟢 Startelf</h3>
      <ul class="player-list">
        <li *ngFor="let player of startelf">
          {{ player.vorname }} {{ player.nachname }}
            <span *ngIf="player.einsatz.indexOf('-') !== -1" class="substitution-info">
             ⬇️ {{ player.einsatz.substring(player.einsatz.indexOf('-') + 1, 99) }}'
          </span>

        </li>
      </ul>
    </div>

    <div class="squad-section">
      <h3>🔄 Eingewechselt</h3>
      <ul class="player-list">
        <li *ngFor="let sub of bank">
          {{ sub.vorname }} {{ sub.nachname }} ⬆️ {{ sub.einsatz.substring(0, sub.einsatz.indexOf('-')) }}'
        </li>
      </ul>
    </div>

    <div class="squad-section">
      <h3>🚫 Nicht Eingesetzt</h3>
      <ul class="player-list">
        <li *ngFor="let benchPlayer of kader">
          {{ benchPlayer.vorname }} {{ benchPlayer.nachname }}
        </li>
      </ul>
    </div>

  </div>
</div>