.containerSD{
    position: absolute;
    top: 0px;
    left: 0px;
}

.laufschrift {
    position: absolute;    top: 80%;    left: 1%;
    color: whitesmoke;
    font-family: 'Doodle', Georgia, 'Times New Roman', Times, serif;    font-size: 180px;    font-weight: bold;
}