.container{
    position: absolute;
    background-color: burlywood;
}

button{
    background-color: aqua;
    color: aliceblue;
}

.menu-item{
    font-size: small;
    background-color: brown;
    height: 10px;
}