.container{
    position: absolute;
    background-color: burlywood;
}

button{
    background-color: antiquewhite;
    color: cornflowerblue;
    font-size: large;
}

.button1{
    width: 250px; 
    height: 60px;
    background-color: antiquewhite;
    color: cornflowerblue;
    font-size: larger;
    border-radius: 12px;
}

.menu-item{
    font-size: small;
    background-color: brown;
    height: 10px;
}

mat-panel-title{
    font-size: xx-large;
}

mat-panel-description{
    font-size: larger;
}