.container{
    position: absolute;
    background-color: burlywood;
}

button{
    background-color: antiquewhite;
    color: cornflowerblue;
    font-size: large;
}

.menu-item{
    font-size: small;
    background-color: brown;
    height: 10px;
}