<p>smartupdate works!</p>
<div class="container">
    Hallo, Welt
    <br/>
    <button (click)="test1()">Button 1</button>
    <br/>
    <button mat-button [matMenuTriggerFor]="menu">Torschütze</button>      
    <mat-menu #menu="matMenu"> 
        @for (spieler of startelf; track spieler) {
            <button mat-menu-item class="menu-item">{{'' + spieler.id + ' ' + spieler.name1}}</button>
        }
    </mat-menu> 
</div>
<!--
<select><option ng-repeat="x in cars">{{x}}</option></select>
-->