<div class="container">
    
        <table>
            <tbody>
                <tr>
                    <td><h2>Tor für uns</h2></td>
                    <td><button mat-button [matMenuTriggerFor]="menu">Torschütze</button> </td>
                    <td>        
                        <mat-menu #menu="matMenu"> 
                        @for (spieler of spielerliste; track spieler) {
                            <button (click)="onClickTorschuetze(spieler)" mat-menu-item class="menu-item">{{spieler.id}}: {{spieler.name1}} {{spieler.name2}}</button>
                        }
                    </mat-menu> 
                </td>
                <td><div>{{torschuetze.name2}}</div></td>
                <td><button (click)="torSpeichern('H')">Tor speichern</button></td>
            </tr>
            <tr>
                <td><h2>Tor für Gegner</h2></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button (click)="torSpeichern('G')">Tor speichern</button></td>
            </tr>
            <tr>
                <td><h2>Anpfiff</h2></td>
                <td></td>
                <td></td>
                <td><button (click)="anpfiffSetzen(1)">Anpfiff HZ 1</button></td>
                <td><button (click)="anpfiffSetzen(2)">Anpfiff HZ 2</button></td>
            </tr>
            </tbody>
        </table>
</div>
<!--
<select><option ng-repeat="x in cars">{{x}}</option></select>
{{'' + spieler.id + ' ' + spieler.name1}}
<div>{{torschuetze.name2}}</div>
-->