<app-saison-selector (saisonGewaehlt)="handleSaisonAuswahl($event)"></app-saison-selector>
<div class="container mt-4">
  <h2 class="mb-3">⚽ Abschlusstabelle {{titel}} ⚽</h2>
  <table class="table table-sm table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Platz</th>
        <th>Mannschaft</th>
        <th>Spiele</th>
        <th>G</th>
        <th>U</th>
        <th>V</th>
        <th>Tore</th>
        <th>Diff</th>
        <th>Punkte</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of tableData" 
      [class.table-primary]="team.mannschaft.includes('Emsdetten 05')">
        <td>{{ team.platz }}</td>
        <td>{{ team.mannschaft }}</td>
        <td>{{ team.spiele }}</td>
        <td>{{ team.g }}</td>
        <td>{{ team.u }}</td>
        <td>{{ team.v }}</td>
        <td>{{ team.tore }}</td>
        <td>{{ team.diff }}</td>
        <td>{{ team.punkte }}</td>
      </tr>
    </tbody>
  </table>
</div>
