<div class="container mt-4">
  <h2 class="mb-3">⚽ Abschlusstabelle {{titel}} ⚽</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th *ngFor="let col of columns">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of tableData">
        <td>{{ team.Pl }}</td>
        <td>{{ team.Mannschaft }}</td>
        <td>{{ team.Sp }}</td>
        <td>{{ team.g }}</td>
        <td>{{ team.u }}</td>
        <td>{{ team.v }}</td>
        <td>{{ team.Tore }}</td>
        <td>{{ team.Diff }}</td>
        <td>{{ team.Pkt }}</td>
      </tr>
    </tbody>
  </table>
</div>
