<div class="container mt-4">
  <app-saison-selector (saisonGewaehlt)="handleSaisonAuswahl($event)"></app-saison-selector>
  <h2 class="mb-3">Spieltage</h2>
  <table class="table table-sm table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Spieltag</th>
        <th>Datum</th>
        <th>H/A</th>
        <th>Gegner</th>
        <th>Ergebnis</th>
        <th>Punkte</th>
        <th>Platz</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let matchday of tableData"
      (click)="zeigeSpielDetails(matchday.spieltag)"
      class="game-row"
      [class.table-success]="matchday.punkte === 3"
      [class.erg-unentschieden]="matchday.punkte === 1"
      [class.table-danger]="matchday.punkte === 0">
        <td>{{ matchday.spieltag }}</td>
        <td>{{ matchday.datum }}</td>
        <td>{{ matchday.heimOderAuswaerts }}</td>
        <td>{{ matchday.gegner }}</td>
        <td>{{ matchday.ergebnis }}</td>
        <td>{{ matchday.punkte }}</td>
        <td>{{ matchday.platz }}</td>
      </tr>
    </tbody>
  </table>
</div>
