<div class="container mt-4">

  <h2 class="mb-3">Spieltage</h2>
  <table class="table table-sm table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th *ngFor="let col of columns">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let matchday of spieltage">
        <td>{{ matchday.saison }}</td>
        <td>{{ matchday.spieltag }}</td>
        <td>{{ matchday.datum }}</td>
        <td>{{ matchday.heimOderAuswaerts }}</td>
        <td>{{ matchday.gegner }}</td>
        <td>{{ matchday.ergebnis }}</td>
        <td>{{ matchday.punkte }}</td>
        <td>{{ matchday.platz }}</td>
      </tr>
    </tbody>
  </table>
</div>
