<button (click)="triggerImport()" [disabled]="isImporting">
  CSV-Datenbankimport starten
</button>

<p style="margin-top: 20px;">
  Status: <strong>{{ importStatus }}</strong>
</p>

<div *ngIf="isImporting">
  Import läuft... Bitte warten.
</div>
<div>
  <h2>Testabfragen</h2>
  <a href="http://localhost:8080/h2-console" target="_blank">Datenbank verwalten(jdbc:h2:file:./data/fussballDB;sa/password)</a><br/>
  <a href="http://localhost:8080/api/historie/spieltage/202223" target="_blank">Spieltage anzeigen</a><br/>
  <a href="http://localhost:8080/api/historie/spieltagskader?saison=202425&spiel=1" target="_blank">Spieltagskader anzeigen</a>
  <a href="http://localhost:8080/api/files/download?filePath=./Saison2526/EV-B%C3%A4lle/Saison2526_03_B%C3%A4lle.png" target="_blank">EV-Bälle</a>
  <a href="http://localhost:8080/api/historie/documents/saisons" target="_blank">Spielzeiten mit Dokumenten</a>
  <a href="http://localhost:8080/api/historie/documents?typ=Torvideos&saison=2526&spieltag=01" target="_blank">Torvideos</a>
  <a href="http://localhost:8080/api/historie/documents?typ=Dokumente&saison=2526&spieltag=01" target="_blank">Dokumente</a>

</div>