<div class="container" *ngIf="medien">
    <div class="debug" *ngIf="2>1">{{medien[medienIndex]}}: {{restlaufzeit()}} s</div>
    <div *ngIf="typen[medienIndex] === 'Bild'">
        <img  mat-card-image src ="{{medien[medienIndex]}}" alt="Photo"  width="1800px" height="1000px">
    </div>
    <div *ngIf="typen[medienIndex] === 'Video'">
        <video  width="auto" height="auto" volume=20 controls autoplay>
            <source src="{{medien[medienIndex]}}" type="video/mp4">
        </video>
    </div>
</div>

<!--

-->