<div class="carousel-container">
      <div class="dots-container">
    @for (img of images; track img.url; let i = $index) {
      <span class="dot" 
            [class.active]="i === currentIndex" 
            (click)="goToSlide(i)">
      </span>
    }
  </div>
  <div class="carousel">
    @for (img of images; track img.url; let i = $index) {
      <div class="carousel-item" [class.active]="i === currentIndex">
        @if (i === currentIndex) {
          <div class="slide-content">
            <img [src]="img.url" [alt]="img.filename" />
            <div class="image-caption">{{ img.filename }}</div>
          </div>
        }
      </div>
    }

    <button class="prev" (click)="prevSlide()">&#10094;</button>
    <button class="next" (click)="nextSlide()">&#10095;</button>
  </div>

  <div class="carousel-caption-zone">
    <span class="file-label">Datei:</span> {{ images[currentIndex]?.filename }}
  </div>


</div>