<p>startseite works!</p>
<nav>
    <a class="button" routerLink="/aufstellung"     routerLinkActive="activebutton" ariaCurrentWhenActive="page">Aufstellung</a> |
    <a class="button" routerLink="/players-list"    routerLinkActive="activebutton" ariaCurrentWhenActive="page">Spielerliste</a>
    <a class="button" routerLink="/spieltag"        routerLinkActive="activebutton" ariaCurrentWhenActive="page">Spieltag</a>
    <a class="button" routerLink="/statusupdatexxx" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Statusupdate</a>
    <a class="button" routerLink="/checkitout"      routerLinkActive="activebutton" ariaCurrentWhenActive="page">Check it out</a>
  </nav>
  <router-outlet></router-outlet>