.scroll-table-wrapper {
  flex-grow: 1; 
  display: flex !important;
  overflow-y: scroll !important;
  max-height: 100vh;
  align-items: flex-start !important;
  min-height: 0;
}

/* WICHTIG: Die Tabelle selbst darf keinen festen height-Wert haben,
   damit sie lang genug wird, um den Scroll-Container zu füllen. */
table {
  width: 100%;
}

.row-absteiger {
  background-color: #f8d7da !important;
  color: #842029;
}

.row-aufsteiger {
  background-color: #d1e7dd !important;
  color: #0f5132;
}

.row-relegation {
  background-color: #fff3cd !important;
  color: #664d03;
}
