<div class="container mt-4">

  <h2 class="mb-3">Spielzeiten</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th *ngFor="let col of columns">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let season of tableData">
        <td>{{ season.Saison }}</td>
        <td>{{ season.Liga }}</td>
        <td>{{ season.Spiele }}</td>
        <td>{{ season.Platz }}</td>
        <td>{{ season.Punkte }}</td>
        <td>{{ season.Bemerkungen }}</td>
        <td>{{ season.Import_Tabelle }}</td>
        <td>{{ season.Import_Spiele }}</td>
      </tr>
    </tbody>
  </table>
  <h3>Wähle eine Liga:</h3>
  <select class="form-select mb-4" (change)="onFileChange($event)">
    <option *ngFor="let season of tableData" [value]="season.Import_Tabelle">{{ season.Saison }}</option>
  </select>
  {{selectedCsv}}
  <app-football-table [csvPath]="selectedCsv"></app-football-table>
</div>