<div class="container mt-4">

  <h2 class="mb-3">Spielzeiten</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th *ngFor="let col of columns">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let season of tableData"
      [class.table-danger]="season.Bemerkungen.includes('Absteiger')"
      [class.table-success]="season.Bemerkungen.includes('Aufsteiger')">
        <td>{{ season.Saison }}</td>
        <td>{{ season.Liga }}</td>
        <td>{{ season.Spiele }}</td>
        <td>{{ season.Platz }}</td>
        <td>{{ season.Punkte }}</td>
        <td>{{ season.Bemerkungen }}</td>
      </tr>
    </tbody>
  </table>
</div>