mat-grid-tile {
    background: lime; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    transition: box-shadow 0.3s ease-in-out;
}


mat-grid-tile-content {
  max-height: 100vh;
  display: flex !important;
  align-items: flex-start !important;
} 

#scrollMich {
  overflow-y: scroll;
  align-items: flex-start !important;
  max-height: 100vh;
  background: lightpink;
}

.scrollable {
  overflow-y: scroll;
  max-height: 100vh;
  display: flex !important;
  align-items: flex-start !important;
}

/* Optional: Schatten beim Hover verstärken */
mat-grid-tile:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15) !important; 
}