<div class="background">
  <div class="grid">
    <div class="cell minute">Spielminute: {{ aktuelleMinute }}'</div>
    <div class="cell uhrzeit">{{ aktuelleUhrzeit }}</div>
    <div class="cell empty">0</div>

    <!--
    


        
    -->
    <div class="cell heim"><img src="../../../assets/heim.png" alt="Heimteam" /></div>
    <div class="cell spielstand">{{ spielstand }}</div>
    <div class="cell gast"><img src="../../../assets/gast.png" alt="Gastteam" /></div>    


    <div class="ticker-container">
      <div class="ticker-text">{{ tickerText }}</div>
    </div>
  </div>
</div>
