<div style="margin: 20px;">
  <mat-grid-list cols="4" rowHeight="125px" gutterSize="10px">
    <mat-grid-tile>{{aktuelleUhrzeit}}</mat-grid-tile>
    <mat-grid-tile colspan="3">Kachel 2</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="4">Navi</mat-grid-tile>
    <mat-grid-tile id="scrollMich" name="scrollMich" class="scrollable" style="align-items: flex-start;" colspan="3" rowspan="4">
        <ul>
          <li *ngFor="let dummy of dummies">{{dummy}}</li>
        </ul>
    </mat-grid-tile>
  </mat-grid-list>
</div>

