<div style="height: 200px;">
    <h3>Konfiguration</h3>
    <table>
        <thead>
            <tr><th>Key</th><th>Value</th></tr>
        </thead>
        <tbody>
            <tr><td>Host</td><td>{{host}}</td></tr>
        </tbody>
    </table>
    <mat-grid-list cols="2" rowHeight="6:1">
        <mat-grid-tile><div class="titel">HEIM</div></mat-grid-tile>
        <mat-grid-tile><div class="titel">GAST</div></mat-grid-tile>
        <mat-grid-tile><div class="titel">{{ toreHeim }}</div></mat-grid-tile>
        <mat-grid-tile><div class="titel">{{ toreGast }}</div></mat-grid-tile>
        <mat-grid-tile>
            <button class="updbutton" (click)="increment('H')">+</button>
            <button class="updbutton" (click)="decrement('H')">-</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button class="updbutton" (click)="increment('G')">+</button>
            <button class="updbutton" (click)="decrement('G')">-</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="titel">TS</div>
            <input class="eingabefeld" [(ngModel)]="tsNummer" required />
        </mat-grid-tile>
        <mat-grid-tile><button class="updbutton" (click)="reset()">Reset Counter</button></mat-grid-tile>
    </mat-grid-list>
    
    
</div>
