<h3 *ngIf="titel !== ''">{{ titel }}</h3>
<table>
    <tbody>
    <tr *ngFor="let player of playerstable">
        <td width="150px">{{ player.vorname }} {{ player.nachname }}</td>
        <td>
            <span *ngIf="typ === 'startelf' && player.einsatz.indexOf('-') !== -1" class="substitution-info">⬇️</span>
            <span *ngIf="typ === 'bank' && player.einsatz.indexOf('-') !== -1" class="substitution-info">⬆️</span>
            <span *ngIf="typ === 'kader'" class="substitution-info">🚫</span>
        </td>
        <td>
            <span *ngIf="typ === 'startelf' && player.einsatz.indexOf('-') !== -1" class="substitution-info">
                {{ player.einsatz.substring(player.einsatz.indexOf('-') + 1, 99) }}'
            </span>
            <span *ngIf="typ === 'bank' && player.einsatz.indexOf('-') !== -1" class="substitution-info">
                {{ player.einsatz.substring(0, player.einsatz.indexOf('-')) }}'
            </span>
        </td>
    </tr>
    </tbody>
</table>