<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{spieler.id}} | {{spieler.name1}} {{spieler.name2}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tbody>
          <tr>
            <td class="InfoCaption">Spiele</td>   <td class="InfoContent">{{spieler.spiele}}</td>
            <td class="InfoCaption">Minuten</td>  <td class="InfoContent">{{spieler.minuten}}</td>
            <td class="InfoCaption">Tore</td>     <td class="InfoContent">{{spieler.tore}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="modus === 'klein'">
        <img mat-card-image src ={{spieler.pic}} alt="Photo"  width="150px" height="210px">
      </div>    
      <div *ngIf="modus === 'gross1'">
        <img mat-card-image src ={{spieler.pic}} alt="Photo"  width="300px" height="420px">
      </div>
      <div *ngIf="modus === 'gross2'">
        <img mat-card-image src ={{spieler.pic}} alt="Photo"  width="450px" height="630px">
      </div>
    </mat-card-content>
  </mat-card>
