<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{nr}} | {{name1}}</mat-card-title>
      <mat-card-subtitle>{{name2}}</mat-card-subtitle>
    </mat-card-header>
    
    Spiele: {{spiele}}<br/>
    Tore: {{tore}}<br/>
    Minuten: {{minuten}}<br/>
    <div *ngIf="modus !== 'tor'">
      <img mat-card-image src ={{pic}} alt="Photo"  width="150px" height="210px">
    </div>    
    <div *ngIf="modus === 'tor'">
      <img mat-card-image src ={{pic}} alt="Photo"  width="300px" height="420px">
    </div>
    
    <!--
        <mat-card-actions>
      <button mat-button>Learn More</button>
    </mat-card-actions>
    -->

  </mat-card>
