.InfoCaption{
    font-size: x-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: black;
}

.InfoContent{
    font-size: x-large;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: whitesmoke;
}
