@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");

.text-3d {
    top: -100px;
    left: 320px;
	width: 400px;
    height: 700px;
	font-family: Arial, "Birthstone", cursive;
	font-size: 10rem;
	font-weight: 900;
	color: #e63946;
	position: absolute;
	display: block;
	text-align: center;
	margin: 10% 0;
	letter-spacing: 10px;
	text-shadow: 1px 1px 0px #fad5a5, 3px 3px 0px #fad5a5, 5px 5px 0px #fad5a5,
		6px 6px 0px #8b8000, 7px 7px 0px #8b8000, 8px 8px 0px #8b8000,
		9px 9px 0px #7f0b14, 10px 10px 0px #7f0b14;
	transform: rotateX(-20deg) rotateY(0deg) rotate(0deg);
	perspective: 100px;
}


.container{
    width: 800px;
    height: 700px;
    background-color: blanchedalmond;
    border: 25px groove blue;
}
