<div class="container">
    <h3>{{txtHeader}}</h3>
    {{torString}}
    <table>
        <tr>
            <td *ngIf="torschuetze">
                <app-spielerkarte
                    nr=     {{torschuetze.id}} 
                    pic=    {{torschuetze.pic}} 
                    name1=  {{torschuetze.name1}} 
                    name2=  {{torschuetze.name2}}
                    tore= 3
                    spiele= 14
                    minuten= 1094
                    ></app-spielerkarte>
                
                <div class="text-3d" style="left: 200px; top: 50px;">{{torschuetze.name1}}</div>
                <div class="text-3d" style="left: 200px; top: 250px;">{{torschuetze.name2}}</div>          
            </td>
        </tr>
    </table>
</div>
