<div class="header-container">
  <h1>Historie</h1>
  <div *ngIf="selectedView !== 'menu'">
    <button mat-raised-button color="primary" (click)="selectedView = 'menu'">
      Zurück zum Menü
    </button>
  </div>
</div>

<div *ngIf="selectedView === 'menu'">
  <div class="cards-row">
    <app-menu-card
      [title]="'Hist. Spielzeiten'" [imageSrc]="'assets/historische-spielzeiten.png'"
      [imageAlt]="'Historische Spielzeiten'"
      [cardText]="'Übersicht über die vergangenen Saisons'"
      [actionType]="'historisch'"   (cardClicked)="onAction($event)">
    </app-menu-card>

    <app-menu-card
      [title]="'Abschlusstabellen'" [imageSrc]="'assets/abschlusstabellen.png'"
      [imageAlt]="'Abschlusstabellen'"
      [cardText]="'Übersicht über die Abschlusstabellen'"
      [actionType]="'abschlusstabellen'"   (cardClicked)="onAction($event)">
    </app-menu-card>

    <app-menu-card
      [title]="'Spiele'" [imageSrc]="'assets/einzelspiele.png'"
      [imageAlt]="'Spiele'"
      [cardText]="'Ergebnisse einzelner Spiele'"
      [actionType]="'spiele'"   (cardClicked)="onAction($event)">
    </app-menu-card>

    <app-menu-card
      [title]="'Spielerprofile'" [imageSrc]="'assets/spielerprofile.png'"
      [imageAlt]="'Spielerprofile'"
      [cardText]="'Informationen zu einzelnen Spielern'"
      [actionType]="'spieler'"   (cardClicked)="onAction($event)">
    </app-menu-card>
  </div>
  <div class="cards-row">
    <app-menu-card
      [title]="'Admin'" [imageSrc]="'assets/administrationKlein.png'"
      [imageAlt]="'Admin'"
      [cardText]="'Verwaltung und Einstellungen.'"
      [actionType]="'admin'"   (cardClicked)="onAction('admin')">
    </app-menu-card>

  </div>
</div>

<div class="component-containerx scrollable">
  <app-historie-admin *ngIf="selectedView === 'admin'"></app-historie-admin>
  <app-seasons *ngIf="selectedView === 'historisch'"></app-seasons>
  <app-football-table *ngIf="selectedView === 'abschluss'"></app-football-table>
  <app-matchdays *ngIf="selectedView === 'einzel'"></app-matchdays>
  <app-spielerprofil *ngIf="selectedView === 'spieler'"></app-spielerprofil>
</div>
