<h1>Historie</h1>
<div class="cards-row">
  <mat-card class="retro-card" (click)="onAction('Historische Spielzeiten')">
    <mat-card-header>
      <mat-card-title>Historische Spielzeiten</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <img
        src="assets/historische-spielzeiten.png"
        alt="Historische Spielzeiten"
        class="card-image"
      />
      <p class="card-text">
        Übersicht über vergangene Saisons des Vereins.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="retro-card" (click)="onAction('Abschlusstabellen')">
    <mat-card-header>
      <mat-card-title>Abschlusstabellen</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <img
        src="assets/abschlusstabellen.png"
        alt="Abschlusstabellen"
        class="card-image"
      />
      <p class="card-text">
        Tabellenübersicht mit Platzierungen und Punkten.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="retro-card" (click)="onAction('Einzelspiele')">
    <mat-card-header>
      <mat-card-title>Einzelspiele</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <img
        src="assets/einzelspiele.png"
        alt="Einzelspiele"
        class="card-image"
      />
      <p class="card-text">
        Ergebnisse einzelner Spiele und Spielberichte.
      </p>
    </mat-card-content>
  </mat-card>
</div>

<!-- selection.component.html -->
<label for="viewSelector">Ansicht wählen:</label>
<select id="viewSelector" [(ngModel)]="selectedView">
  <option value="historisch">Historische Spielzeiten</option>
  <option value="abschluss">Abschlusstabellen</option>
  <option value="einzel">Einzelspiele</option>
  <option value="nix">LEER</option>
</select>

<div class="component-containerx scrollable">
  <app-seasons *ngIf="selectedView === 'historisch'"></app-seasons>
  <app-seasons *ngIf="selectedView === 'abschluss'"></app-seasons>
  <app-matchdays *ngIf="selectedView === 'einzel'"></app-matchdays>
</div>

<!-- 

<div class="container">
    <app-seasons></app-seasons>
    <app-matchdays></app-matchdays>
</div>
-->