.header-container {
  display: flex;
  /* Optionale Eigenschaften: */
  align-items: center; /* Zentriert die Elemente vertikal im Container */
  justify-content: space-between; /* Verteilt den verfügbaren Platz: <h1> links, <div> rechts */
  width: 100%; /* Stellt sicher, dass der Container die volle Breite nutzt */
}

.scrollable{
      height: 1100px;          /* Höhe begrenzen */
        overflow-y: auto;       /* nur vertikaler Scrollbalken */
        overflow-x: hidden;     /* kein horizontaler Scrollbalken */
        border: 1px solid #ccc; /* optional, zur Sichtbarkeit */
        padding: 10px;
}

.cards-row {
  display: flex;
  gap: 1rem;
  align-items: stretch; /* gleiche Höhe */
  justify-content: center;
  flex-wrap: wrap; /* bei kleinen Bildschirmen umbrechen */
  margin: 1rem;
}

