<div class="container">
    <div class="text-3d">SCHICHT- WECHSEL</div>
    <table style="top:300px; position: absolute;">
        <tr>
            <td *ngIf="spielerraus" style="width: 300px;">
                <h2>Danke, {{spielerraus.name1}}</h2>
                <app-spielerkarte
                    nr=     {{spielerraus.id}} 
                    pic=    {{spielerraus.pic}} 
                    name1=  {{spielerraus.name1}} 
                    name2=  {{spielerraus.name2}}>
                </app-spielerkarte>                  
            </td>
            <td><div style="width: 20px;"></div></td>
            <td *ngIf="spielerrein" style="width: 300px;">
                <h2>Willkommen, {{spielerrein.name1}}</h2>
                <app-spielerkarte 
                    nr=     {{spielerrein.id}} 
                    pic=    {{spielerrein.pic}} 
                    name1=  {{spielerrein.name1}} 
                    name2=  {{spielerrein.name2}}>
                </app-spielerkarte>                
            </td>
        </tr>
    </table>
</div>
