.laufschrift {
    position: absolute;    top: 70%;    left: 1%;
    color: whitesmoke;
    font-family: 'Doodle', Georgia, 'Times New Roman', Times, serif;    font-size: 200px;    font-weight: bold;
  }

.spielstand{
    position: absolute;    top: 11%;    left: 50%;
    transform: translate( -50%, -50%);
    color: whitesmoke;
    font-family: 'Doodle', Georgia, 'Times New Roman', Times, serif;    font-size: 325px;    font-weight: bold;
}

.container {    position: relative;    text-align: center;    color: white;  }

.zeiten{
  color: #16bbb3;
  font-family: Arial, sans-serif;    font-size: 80px;    font-weight: bold;
}  
.uhrzeit {    position: absolute;    top: 8px;    right: 16px;  }

.spielzeit {  position: absolute;    top: 8px;    left : 16px;  }

.anpfiff   {  position: absolute;    top: 78px;    left : 16px;  font-size: 22px;}

.logoHeim {
  position: absolute;  bottom: 40%;
  left: 16px; width:480px; height: 520px;
}

.logoGast {
  position: absolute;  bottom: 40%;
  right: 16px; width:480px; height: 520px;
}

.nameVerein {
  position: absolute;  bottom: 140px;
  font-family: Arial, sans-serif;    font-size: 145px;    font-weight: bold;
}
.nameHeim {    left: 16px;  }

.nameGast {   right: 16px;  }
