.container {    position: relative;    text-align: center;    color: black;  }

.laufschrift {
    position: absolute;    top: 80%;    left: 1%;
    color: whitesmoke;
    font-family: 'Doodle', Georgia, 'Times New Roman', Times, serif;    font-size: 180px;    font-weight: bold;
  }

.logoHeim {
  position: absolute;  bottom: 40%;
  left: 16px; width:480px; height: 520px;
}

.logoGast {
  position: absolute;  bottom: 40%;
  right: 16px; width:480px; height: 520px;
}

.nameVerein {
  position: absolute;  bottom: 140px;
  font-family: Arial, sans-serif;    font-size: 145px;    font-weight: bold;
}
.nameHeim {    left: 16px;  }

.nameGast {   right: 16px;  }
