:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: white; /* oder transparent */
}

.fullscreen-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}



.logoHeim {
  position: absolute;  top: 200px;
  left: 16px; width:240px; height: 260px;
}

.logoGast {
  position: absolute;  top: 200px;
  right: 100px; width:240px; height: 260px;
}

.nameVerein {
  position: absolute;  bottom: 140px;
  font-family: Arial, sans-serif;    font-size: 145px;    font-weight: bold;
}
.nameHeim {    left: 16px;  }

.nameGast {   right: 16px;  }

.laufschrift {
  position: absolute;    top: 80%;    left: 1%;
  color: whitesmoke;
  font-family: 'Doodle', Georgia, 'Times New Roman', Times, serif;    font-size: 180px;    font-weight: bold;
}