<div class="container">
    <img src="assets/pictures/others/Fabulous05.JPG" style="width:100%">
    <img class="logoHeim" src="assets/pictures/teams/logo_sve.png"/>
    <img class="logoGast" src="{{gegnerBild}}" width="255px;" height="255px;"/>

    <!--
        <div class="nameVerein nameHeim">{{teamheim}}</div>
        <div class="nameVerein nameGast">{{teamgast}}</div>
    -->

    <div class="zeiten uhrzeit"     >{{time | date: 'HH:mm' }}</div>
    <div class="zeiten spielzeit"   >{{spielMinute}}''</div>
    <div class="spielstand"         >{{toreHeim}} : {{toreGast}}</div> 
    <div class="zeiten nachspielzeit"      >{{nachspielzeit}}</div>
    <div class="anpfiff"            >x{{anpfiff}}|Hz {{halbzeit}}|Flag {{statusKz}}</div>
    <div class="spielerwechsel" *ngIf="!hideDivFlg"  >
      <app-spielerwechsel wechsel="{{spielerwechsel}}"></app-spielerwechsel>
    </div>
    <div class="spielerwechsel" *ngIf="!hideTorschuetzeFlg"  >
      <app-torfueruns torString="{{torschuetze}}"></app-torfueruns>
    </div>
    <marquee class="laufschrift" scrollAmount="{{laufschriftScrollAmount}}">{{laufschrift}}</marquee>
  </div>
 