<div class="container">
    <div *ngIf="design ==='default'">
        <img src="assets/pictures/others/Fabulous05.JPG" class="fullscreen-img">
        <marquee class="laufschrift"      *ngIf="3 > 2" scrollAmount="{{laufschriftScrollAmount}}">{{laufschrift}}</marquee>
    </div>
    <div *ngIf="design ==='other'">
        <img src="assets/pictures/others/green-grass-background.jpg" style="width:100%;height: 100%;">
    </div>
    <img class="logoHeim" src="assets/pictures/teams/logo_sve.png"/>
    <img class="logoGast" *ngIf="gegnerBild !=''" src="{{gegnerBild}}"/>
    
    <app-spielstand     toreHeim="{{toreHeim}}" toreGast="{{toreGast}}" design="{{design}}"/>
    <app-zeiten         spielMinute="{{spielMinute}}" uhrzeit="{{time | date: 'HH:mm' }}" nachspielzeit="{{nachspielzeit}}" datum="{{datum}}" design="{{design}}"/>
    <app-spielerwechsel *ngIf="!hideDivFlg"         wechsel="{{spielerwechsel}}"></app-spielerwechsel>
    <app-halbzeit       *ngIf="!hideHalbzeit"/>
    <app-aufstellung    *ngIf="!hideAufstellung"    [startelf]="startelf" [bank]="bank"></app-aufstellung>
    <app-torfueruns     *ngIf="!hideTorschuetzeFlg" torString="{{torschuetze}}"></app-torfueruns>
</div>
<!--
<app-subdesign designName="{{design}}" [toreHeim]="toreHeim" [toreGast]="toreGast"/>
    <img class="logoHeim" src="assets/pictures/teams/logo_sve.png"/>
    <img class="logoGast" *ngIf="gegnerBild !=''" src="{{gegnerBild}}" width="255px;" height="255px;"/>
-->