<div class="container">
    <div *ngIf="design ==='default'">
        <img src="assets/pictures/others/Fabulous05.JPG" style="width:100%;height: 100%;">
        <marquee class="laufschrift"      *ngIf="3 > 2" scrollAmount="{{laufschriftScrollAmount}}">{{laufschrift}}</marquee>
    </div>
    <img class="logoHeim" src="assets/pictures/teams/logo_sve.png"/>
    <img class="logoGast" *ngIf="gegnerBild !=''" src="{{gegnerBild}}" width="255px;" height="255px;"/>
    <app-spielstand     toreHeim="{{toreHeim}}" toreGast="{{toreGast}}" design="{{design}}"/>
    <app-zeiten         spielMinute="{{spielMinute}}" uhrzeit="{{time | date: 'HH:mm' }}" nachspielzeit="{{nachspielzeit}}" datum="{{datum}}"/>
    <app-spielerwechsel *ngIf="!hideDivFlg"         wechsel="{{spielerwechsel}}"></app-spielerwechsel>
    <app-aufstellung    *ngIf="!hideAufstellung"    [startelf]="startelf" [bank]="bank"></app-aufstellung>
    <app-torfueruns     *ngIf="!hideTorschuetzeFlg" torString="{{torschuetze}}"></app-torfueruns>
</div>
 