<p>checkitout works!</p>

<div class="container">
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="mb-3">
          <label for="formFile" class="form-label">Upload file example</label>
          <input (change)="this.onFilechange($event)" class="form-control" type="file" id="formFile">
          <button (click)="this.upload()" type="button" class="btn btn-primary mt-3">Upload</button>
        </div>
      </div>
    </div>
   </div>

<br/>   
<button (click)="aufstellungAuslesen()">Aufstellung auslesen</button>

<h3>Datum</h3><div>{{datum}}</div>
<h3>Gegner</h3><div>{{gegner}}</div>
<h3>Bild</h3><div>{{gegnerBild}}</div>
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        @for (spieler of startelf; track spieler) {
                            <tr>
                                <td>{{spieler.id}}</td>
                                <td>{{spieler.name1}}</td>
                                <td>{{spieler.name2}}</td>
                            </tr>
                            }
                        </tbody>
                </table>
            </td>
            <td>
                <table>
                    <tbody>
                        @for (spieler of bank; track spieler) {
                            <tr>
                                <td>{{spieler.id}}</td>
                                <td>{{spieler.name1}}</td>
                                <td>{{spieler.name2}}</td>
                            </tr>
                            }
                        </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

