.container{
    width: 1500px;
    height: 700px;
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: blanchedalmond;    
    border: 2px solid;
    padding: 10px;
    box-shadow: 6px 4px 8px;
}